<h1>Convert <%= @original_currency %></h1>
<div>Go <a href="/">back</a>.</div>
<ul>
  <% @currencies.each_key do |to_currency| %>
    <li>      
      <a href="/<%= @original_currency %>/<%= to_currency %>"> Convert 1 <%= @original_currency %> to <%= to_currency %>...</a>
    </li>
  <% end %>
</ul>
